<li class="burger-list">
	{{name}}

	{{#if eaten}}
	<button class="change-eaten" data-id="{{id}}" data-neweaten="{{eaten}}">
		Nom Nom Nom
	</button>
	{{/if}}

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>