<li class="burger-list list-group-item">
	<h5>
		{{name}}

	<span>
	{{#if eaten}}
	<button class="change-eaten btn btn-secondary" data-id="{{id}}" data-neweaten="{{eaten}}">
		Eat
	</button>
	{{/if}}

	<button class="delete-burger btn btn-secondary" data-id="{{this.id}}">Delete</button>

	</span>
	</h5>

</li>